#nav-list {
  background-color: #2eb8d5;
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  color: #000;
  text-align: center;
  font-size: 1.2em;
}

#top-divider {
  margin-top: 0;
}
#bottom-divider {
  margin-bottom: 0;
}

#chicken {
  background-color: #bed8df;
  margin: 20px 5px 15px 5px;
  padding: 10px 15px 10px 15px;
}

@media (max-width: 767px) {
  #chicken {
    margin: 15px 70px 15px 70px;
  }

}
